/* General body styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4e5eb;
}

/* Header styles */
header {
    background-color: #2b4c65;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header img {
    height: 50px; /* Adjust based on your logo's dimensions */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero section styles */
#home {
    text-align: center;
    padding: 50px 20px;
    background-image: url('Images/RunThruLogo.png'); /* Replace with your actual image path */
    background-size: cover;
    color: #ffffff;
}

#home h1 {
    color: #2b4c65;
    font-size: 36px;
}

#home p {
    color: #2b4c65;
    font-size: 18px;
}

#home button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #e4915a;
    border: none;
    color: white;
    cursor: pointer;
}

/* Features section styles */
#features {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Testimonials section styles */
#testimonials {
    background-color: #d4e5eb; /* Light blue background */
    padding: 20px;
    text-align: center;
}

#testimonials h2 {
    color: #2b4c65; 
}


/* Footer styles */
footer {
    background-color: #2b4c65;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

footer a {
    color: white;
}
